@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat-regular.woff) format('woff'), 
        url(../fonts/montserrat-regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
  padding-top: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fcf8f5;
}

@media (max-width: 991.98px) {
    body p  {
    font-size: 0.9em;
    }
}

p, h1, h2, h3, h4, h5, h6 {

    color: #404040;

}


/* Test pour template */

/*
article {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}
*/






/* MISE EN PAGE GLOBALE */







.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.nav {
	float: none;
}





/* LE HEADER ET LE MENU */




header {
	height: 70px;
    background-color: #FFFFFF;
}


div#title.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
}

div.navbar.navbar-inverse {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.nav.navbar-nav a {
    display: flex;
    justify-content: center;
}

ul.nav.navbar-nav a:hover {
    background-color: #1D76BC;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

li {
    width: 110px;
}

img {
    height: 70px;
}



/* SECTION PRESENTATION */



div#details.row {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center; 
}


div#summary.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    background: url(../pics/mountain.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

div#summary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

div#summary-content h2, div#summary-content p {
    color: #ffffff;
}

div#summary-content h2 {
    font-size: 60px;
    text-align: center;
}

div#summary-content p {
    font-size: 20px;
    text-align: center;

}

div#about-blog {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#about-blog h2 {
    margin-bottom: 40px;
    font-size: 50px;
    text-align: center;
    
}

div#about-blog p {
    padding-left: 10%;
    padding-right: 10%;
}


div#login-block.col-lg-6.col-md-6.col-sm-12.col-xs-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

div#login-asset {
    height: 100%;
    width: 300px;
    background: #DADADA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 1px 0px #656565;
    padding-top: 20px;
    padding-bottom: 20px; 
}


div#login-asset p {
    text-align: center;
}



/* SECTION ARTICLES */

div#list-post.row {
    text-align: center;
}

#preview_postview.col-lg-6.col-md-6.col-sm-12.col-xs-12 {
    border-style: double;
    width: 30%;
    height: 300px;
    margin: 10px 10% 20px 10%;
    background-color: white;
    font-size: 12px;
}

div#post-list.container-fluid {
    text-align: center;
}

span#date {
    font-size: 12px;
    font-style: italic;
}


div#admin-button.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#admin-button.col-lg-12.col-md-12.col-sm-12.col-xs-12 button {
    margin-left: 10px;
    margin-right: 10px;
}

div#block-reaction.col-lg-4.col-md-4.col-sm-12.col-xs-12, div#block-comment.col-lg-8.col-md-8.col-sm-12.col-xs-12 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
}

div#block-preview {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {

    div#block-preview {
        flex-direction: column; 
    }

    div#details.row {
        flex-direction: column;
    }

    div#footer.row {
        flex-direction: column;
    }

    #preview_postview.col-lg-6.col-md-6.col-sm-12.col-xs-12 {
        margin: 10px 5% 10px 5%;
        width: 90%;
        height: auto;
    }

}

div#block-reaction.col-lg-4.col-md-4.col-sm-12.col-xs-12 h3, div#block-comment.col-lg-8.col-md-8.col-sm-12.col-xs-12 h3 {
    text-align: center;
}

div#post-view.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
}

div#post-view.col-lg-12.col-md-12.col-sm-12.col-xs-12 h1, div#post-view.col-lg-12.col-md-12.col-sm-12.col-xs-12 h2, div#post-view.col-lg-12.col-md-12.col-sm-12.col-xs-12 h3, div#post-view.col-lg-12.col-md-12.col-sm-12.col-xs-12 h4, div#post-view.col-lg-12.col-md-12.col-sm-12.col-xs-12 h5, div#post-view.col-lg-12.col-md-12.col-sm-12.col-xs-12 h6 {
    text-align: center;
}


div#posts-block.row {
    padding-left: 7%;
    padding-right: 7%;
}


span#posts-title {
    font-size: 50px;
    text-align: center;
}

article {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#preview_post.col-lg-6.col-md-6.col-sm-12.col-xs-12 a {
    font-size: 1.2em;
}

div#preview_post.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-left: 10%;
    padding-right: 10%;
}

div#preview_postview p {

    hyphens: auto;
}
div#preview_postview {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
div#preview_post.col-lg-12.col-md-12.col-sm-12.col-xs-12 a {
    font-size: 1.2em;
}

div#list-post.row h1 {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

div#preview_post.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    margin-top: 20px;
    margin-bottom: 20px;
}

div#preview_post.col-lg-12.col-md-12.col-sm-12.col-xs-12 h2 {
    text-align: center;
}

div#pagination.row {
    text-align: center;
}

button {
    text-align: center;
}
button a {
    color: #ffffff;
}

button a:link {
    text-decoration: none;
}

button a:hover {
    color: #ffffff;
}

div#preview_post.col-lg-6.col-md-6.col-sm-12.col-xs-12 p, div#preview_post.col-lg-6.col-md-6.col-sm-12.col-xs-12 h2 {
    padding-left: 10%;
    padding-right: 10%;
}

div#preview_post.col-lg-6.col-md-6.col-sm-12.col-xs-12 {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#preview-child {
    background: url(../pics/moutain-preview.jpeg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding-left: 5%;
    padding-right: 5%;
}

div#preview-child h2, div#preview-child p {
    color: #ffffff;
    text-align: center;
}

div#preview-title.row h2 {
    font-size: 60px;
}

div#preview-child.col-lg-12.col-md-12.col-sm-12.col-xs-12 h2 {
    text-align: center;
}

div#comment-box {
    display: flex;
}

div#error-message.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    text-align: center;

    padding-bottom: 200px;
}

div#error-pic.col-lg-12.col-md-12.col-sm-12.col-xs-12 {

    padding-top: 200px;
    padding-bottom: 20px;
    text-align: center;
}

div#interaction.row {
    background-color: #e5e5e5;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 400px;
}


div#block1 {

    box-shadow: 2px 2px 1px 0px #656565;
    background-color:#edf0f4;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.signet {
    width: auto;
    height: 1px;
    border-top: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.signet-foot {
    width: auto;
    height: 1px;
    border-top: 1px dotted #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.signet-foot-admin {
    width: auto;
    height: 1px;
    border-top: 1px dotted #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 20;
    margin-left: auto;
    margin-right: auto;
}

div#comment-post-line {
    margin-bottom: 5px;
}




div#block-pseudo-comment {

    box-shadow: 2px 2px 1px 0px #656565;
    background-color:#edf0f4;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div#pseudo-comment p {
    font-size: 1.2em;
    font-weight: bold;
}

/* Le pied de page */





div#about-me.col-lg-6.col-md-6.col-sm-12.col-xs-12 p, div#about-me.col-lg-6.col-md-6.col-sm-12.col-xs-12 h3, div#form-contact.col-lg-6.col-md-6.col-sm-12.col-xs-12 p {
	color: #ffffff;
}

input#inputText.form-control {
	height: 92px;
}

div#footer.row {

    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

div#form-contact.col-lg-6.col-lg-6.col-sm-12.col-xs-12 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#about-me.col-lg-12.col-md-12.col-sm-12.col-xs-12 h3 {
    color: beige;
    text-align: center;
}

div#about-me.col-lg-6.col-lg-6.col-sm-12.col-xs-12, div#form-contact.col-lg-4.col-lg-4.col-sm-12.col-xs-12 {
    padding-top: 20px;
    padding-right: 5%;
    padding-bottom: 20px;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#write-tinymce.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-top: 10px;
    padding-bottom: 20px;
}


/* LE FORMULAIRE DE CREATION DE COMPTE */

div#title-login-form.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    text-align: center;
}


div#login-form.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-top: 10px;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ADMIN */

div#backoffice.container-fluid h2 {

    text-align: center;
}

div#stats-admin.row {
    background-color: #fcf8f5;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#stats-admin.row h3 {

    text-align: center;
}

div#block-pseudo-comment-admin {

    box-shadow: 2px 2px 1px 0px #656565;
    background-color:#edf0f4;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
}

div#block-pseudo-comment {

    box-shadow: 2px 2px 1px 0px #656565;
    background-color:#edf0f4;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


div#line-comment {
    margin-top: 10px;
}

div#line-admin {

    margin-top: 10px;
}

div#last-comments.row h3 {
    text-align: center;
}

div#last-comments-block.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
}

div#last-comments.row {

    min-width: 300px;
 
}

div#stats.col-lg-12.col-md-12.col-sm-12.col-xs-12 {

    text-align: center;
    font-size: 1.2em;
    border-style: double;
    background-color: white;
    width: 300px;
}

div#interact-admin.row {

    min-height: 400px;
}

div#interact-admin.row h3 {

    text-align: center;
}

div#no-content {
    text-align: center;
}

/* Le formulaire d'écriture */


